<a href="https://colab.research.google.com/github/DanielFernandoMC/Prueba_Tecnica_Totto-/blob/main/2.%20Desarrollo_Prueba_T%C3%A9cnica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Se realiza el proceso ETL de los datos

In [1]:
import pandas as pd

# Cargar archivos CSV con fechas parseadas
ventas = pd.read_csv("ventas.csv", parse_dates=["fecha_venta"], sep="," )
clientes = pd.read_csv("clientes.csv", parse_dates=["fecha_registro"], sep=",")
tiendas = pd.read_csv("tiendas.csv", parse_dates=["fecha_apertura"], sep=",")
productos = pd.read_csv("productos.csv", sep=",")

# Normalizar nombres de columnas (snake_case)
ventas.columns = ventas.columns.str.lower().str.strip().str.replace(" ", "_")
clientes.columns = clientes.columns.str.lower().str.strip().str.replace(" ", "_")
tiendas.columns = tiendas.columns.str.lower().str.strip().str.replace(" ", "_")
productos.columns = productos.columns.str.lower().str.strip().str.replace(" ", "_")

# Unificar tipos de ID como string
ventas["id_cliente"] = ventas["id_cliente"].astype(str)
ventas["id_producto"] = ventas["id_producto"].astype(str)
ventas["id_tienda"] = ventas["id_tienda"].astype(str)
clientes["id_cliente"] = clientes["id_cliente"].astype(str)
productos["id_producto"] = productos["id_producto"].astype(str)
tiendas["id_tienda"] = tiendas["id_tienda"].astype(str)

# A単adir columnas derivadas a ventas
ventas["a単o"] = ventas["fecha_venta"].dt.year
ventas["mes"] = ventas["fecha_venta"].dt.month
ventas["margen_unitario"] = ventas["precio_unitario"] - ventas["descuento"]
ventas["valor_total"] = (ventas["precio_unitario"] - ventas["descuento"]) * ventas["cantidad"]

# Vista previa de los DF
ventas.info()
print(ventas.head())
print()
clientes.info()
print(clientes.head())
print()
tiendas.info()
print(tiendas.head())
print()
productos.info()
print(productos.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158190 entries, 0 to 158189
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id_venta         158190 non-null  int64
 1   fecha_venta      158190 non-null  datetime64[ns]
 2   id_cliente       158190 non-null  object
 3   id_producto      158190 non-null  object
 4   id_tienda        158190 non-null  object
 5   cantidad         158190 non-null  int64
 6   precio_unitario  158190 non-null  float64
 7   descuento        158190 non-null  float64
 8   monto_venta      158190 non-null  float64
 9   a単o              158190 non-null  int32
 10  mes              158190 non-null  int32
 11  margen_unitario  158190 non-null  float64
 12  valor_total      158190 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(2), int64(2), object(3)
memory usage: 14.5+ MB
   id_venta fecha_venta id_cliente id_producto id_tienda  cantidad  \
0         1  2024-09-28        755         122         9         3
1         2  2023-06-28       1994          95         4         3
2         3  2023-02-08        135         127        10         4
3         4  2023-01-03       1996         107        38         2
4         5  2023-03-05       1980          16        25         3

   precio_unitario  descuento  monto_venta   a単o  mes  margen_unitario  \
0        104027.76       0.10   280874.952  2024    9        104027.66
1         95730.38       0.00   287191.140  2023    6         95730.38
2        120929.98       0.05   459533.924  2023    2        120929.93
3        108735.39       0.00   217470.780  2023    1        108735.39
4         87060.24       0.15   222003.612  2023    3         87060.09

   valor_total
0    312082.98
1    287191.14
2    483719.72
3    217470.78
4    261180.27

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_cliente         2000 non-null   object
 1   genero             2000 non-null   object
 2   edad               2000 non-null   int64
 3   ciudad_residencia  2000 non-null   object
 4   fecha_registro     2000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 78.3+ KB
  id_cliente genero  edad ciudad_residencia fecha_registro
0          1      M    64          Medellin     2020-04-15
1          2      F    29         Bogota DC     2020-06-29
2          3      M    33         SanAndres     2020-07-02
3          4      M    41              Cali     2020-08-13
4          5      M    36         SanAndres     2022-02-15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_tienda       50 non-null     object
 1   nombre_tienda   50 non-null     object
 2   ciudad          50 non-null     object
 3   tipo_tienda     50 non-null     object
 4   fecha_apertura  50 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 2.1+ KB
  id_tienda nombre_tienda         ciudad   tipo_tienda fecha_apertura
0         1      Tienda_1      Cartagena  Distribuidor     2022-12-07
1         2      Tienda_2       Medellin  Distribuidor     2021-02-22
2         3      Tienda_3       Medellin  Distribuidor     2015-01-19
3         4      Tienda_4    Bogota D.C.        Outlet     2016-10-03
4         5      Tienda_5  Villavicencio    Franquicia     2018-01-09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_producto      245 non-null    object
 1   nombre_producto  245 non-null    object
 2   linea            245 non-null    object
 3   marca            245 non-null    object
 4   unidad_negocio   245 non-null    object
 5   costo_unitario   245 non-null    float64
 6   precio_lista     245 non-null    float64
dtypes: float64(2), object(5)
memory usage: 13.5+ KB
  id_producto nombre_producto            linea marca unidad_negocio  \
0           1      Producto_1            BOLSO  LAND      MALETINES
1           2      Producto_2         SHOPPING  LAND      MALETINES
2           3      Producto_3    UNIVERSITARIO  LAND      MALETINES
3           4      Producto_4         BODY BAG  LAND      MALETINES
4           5      Producto_5  MALETA DE VIAJE  LAND      MALETINES

   costo_unitario  precio_lista
0        50480.12      75991.53
1        72112.60     106127.74
2        79626.54     108866.73
3        69400.72     123208.70
4        53416.12      68676.50